# general
.env

# macOS
.DS_Store

# pytest
__pycache__/
.pytest_cache

# ruff
.ruff_cache

# uv
.venv
**/*egg-info*

# project
/data/in/*
!/data/in/example_config.json
!/data/in/example_transactions.csv
/data/out/*
!/data/out/.gitkeep
tests/integration/artifacts/*